# Logging Configuration
LOGGING_LEVEL_DEFAULT=Information
LOGGING_LEVEL_ASPNETCORE=Warning
LOGGING_LEVEL_YARP=Information
 
# Hosts
ALLOWED_HOSTS=*
 
# ReverseProxy - Auth Route
REVERSEPROXY_ROUTES_AUTH_CLUSTERID=cluster-security
REVERSEPROXY_ROUTES_AUTH_RATELIMITER=per-client
REVERSEPROXY_ROUTES_AUTH_PATH=/api/auth/{**catch-all}
 
# ReverseProxy - Auth Cluster
REVERSEPROXY_CLUSTERS_AUTH_LOADBALANCING=RoundRobin
REVERSEPROXY_CLUSTERS_AUTH_DESTINATION_PRIMARY=http://security:5103/
 
# ReverseProxy - Orders Route (Ejemplo adicional)
REVERSEPROXY_ROUTES_ORDERS_CLUSTERID=cluster-orders
REVERSEPROXY_ROUTES_ORDERS_RATELIMITER=per-client
REVERSEPROXY_ROUTES_ORDERS_PATH=/api/orders/{**catch-all}
 
# ReverseProxy - Orders Cluster (Ejemplo adicional)
REVERSEPROXY_CLUSTERS_ORDERS_LOADBALANCING=RoundRobin
REVERSEPROXY_CLUSTERS_ORDERS_DESTINATION_PRIMARY=http://orders-service:5104/
